* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 41px;
  padding: 0;
  display: flex;
  background: rgb(128, 128, 128);
  font-size: 15px;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.prevent-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.draggable {
  -webkit-app-region: drag;
}

.main-container {
  display: flex;
  /* width: 100vw; */
  height: 28px;
  background-color: rgb(179, 179, 179);
  list-style: none;
  line-height: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
}

.green_text {
  color: rgb(35, 152, 32);
}

.item {
  background-color: rgb(230, 230, 230);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .main-container > li {
  border-right: 2px solid rgb(207, 207, 207);
} */

.name {
  width: 20vw;
}

.ip {
  width: 10vw;
}

.auto {
  width: 13.7vw;
}

.heater {
  width: 8.4vw;
}

.cooler {
  width: 13.75vw;
}

.humi {
  width: 13.75vw;
}

.cooling {
  width: 8.4vw;
}

.heating {
  width: 8.4vw;
}

.setting {
  width: 2.75vw;
}

.item_list {
  display: flex;
}

.switch {
  width: 5vw;
}

.item_list:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
